<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form!!</title>
</head>
<body>
    <center>
    <form method="POST" action="register">
    {% csrf_token %}
        <h2>Registration Form!!!</h2>
        <input type="text" name="firstName" placeholder="First Name"><br><br>
        <input type="text" name="lastName" placeholder="Last Name"><br><br>
        <input type="text" name="username" placeholder="Username"><br><br>
        <input type="email" name="email" placeholder="Email"><br><br>
        <input type="password" name="password1" placeholder="Passowrd"><br><br>
        <input type="password" name="password2" placeholder="Confirm Passowrd"><br><br>
        <input type="submit" value="Register">
    </form>
        <br><br>
        {% for message in messages%}
            {{message}}
        {% endfor %}
    </center>
</body>
</html>