<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to My First Blog Site!!</title>
</head>
<body>
    <center>
        <h2>Welcome to My First Blog SIte!!!</h2>

        <ul>
            {% for blog in all_blog %}
            <li>
                <a href="/edit/{{ blog.id }}">{{ blog.title }}</a>
                <p>{{ blog.content }}</p>
            </li>
            {% endfor %}
        </ul>

        <h5>Write a new Blog!..<a href='/write'>Click Here</a></h5>

    </center>
</body>
</html>