<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to My First Blog Site!!</title>
</head>
<body>
    <center>
        <h2>Welcome to My First Blog SIte!!!</h2>
        {% if user.is_authenticated %}
        <h4>Hello, {{user.first_name}} !</h4>
        <a href="/account/logout"> Log Out</a><br><br>
        {% else %}
        <a href="/account/register">Register</a>    <a href="/account/login">Log In</a> <br><br>
        {% endif %}
        <a href="/blogs">Click Here</a> for reading blogs.<br><br>
        <h4>Write a new Blog!..<a href='/write'>Click Here</a></h4>

    </center>
</body>
</html>
